<div id="complexify">
    <div classs="form">
        <div style="margin-bottom: 15px;">
            <input name ="pw" type="password"  data-ng-model="contrasenya" class="form-control" id="password" placeholder="Contrasenya"required>
            <p ng-show="passForm.pw.$invalid && !passForm.pw.$pristine" 
                           class="help-block"><strong class="text-danger">La contrasenya es obligatoria.</strong></p>
            
        </div>
    </div>
    <div class="progress">
        <div id="complexity-bar" class="progress-bar progress-bar-danger" role="progressbar" style="width: 0%;">
        </div>
    </div>
    <h1 id="complexity" style="text-align: right">0%</h1>
    <p></p>
</div>
