<div class="autoplay">
    <div>
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/brand/logo.png" />
    </div>
    <div>
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/brand/logo.png.bck" />
    </div>
    <div>
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/brand/logo.png" />
    </div>
    <div>
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/brand/logo.png.bck" />
    </div>
    <div>
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/brand/logo.png" />
    </div>
    <div>
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/brand/logo.png.bck" />
    </div>
</div>
